{% extends "layout.html" %}

{% block content %}

<h1 class="m-title">[ Configs ]</h1>



<form enctype="multipart/form-data" method="post" class="center">
    {% csrf_token %}
    <label for="animal_class">Type</label>
    {{insert_animal_form.animal_class}}
    <label for="animal_name">Name</label>
    {{insert_animal_form.animal_name}}
    <br>
    {{insert_animal_form.animal_domestic}}
    <label for="domestic">Domestic</label>
    <br>
    {{insert_animal_form.animal_toothed}}
    <label for="html">Toothed</label>
    <br>
    {{insert_animal_form.animal_venomous}}
    <label for="html">Venomous</label>
    <br>
    {{insert_animal_form.animal_aquatic}}
    <label for="html">Aquatic</label>
    <br>
    {{insert_animal_form.animal_airborne}}
    <label for="html">Airborne</label>
    <br>
    <br>
    {{insert_animal_form.animal_milk}}
    <label for="html">Milk</label>
    <br>
    {{insert_animal_form.animal_eggs}}
    <label for="html">Eggs</label>
    <br>
    <br>
    {{insert_animal_form.animal_tail}}
    <label for="html">Tail</label>
    <br>
    {{insert_animal_form.animal_fins}}
    <label for="html">Fins</label>
    <br>
    {{insert_animal_form.animal_feathers}}
    <label for="html">Feathers</label>
    <br>
    {{insert_animal_form.animal_hair}}
    <label for="html">Hair</label>
    <br>
    <br>
    <label for="html">Legs number</label>
    {{insert_animal_form.animal_legs}}
    <br>
    <button class="insert" id="insert_form">
        <a onclick="document.getElementById('insert_form').submit();">Insert</a>
    </button>
</form>



{% endblock %}